.episodes{
    background-image:linear-gradient(225deg,#0000FF 0%, #0000A3 100%);
    width: 100%;
    max-width: 1440px;
    
}
.first-skew{
    grid-column: 1/13;
    background-color: var(--white-color);
    width: 100%;
    height: 10vw;
    clip-path: polygon(0 0, 100% 0, 0 100%, 0 0);
    @media (min-width:768px) {
        height: 150px;  
                  
    }
   
}

.episodes-grid{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.title-episodes{
    grid-column:2/13 ;
    margin-top: 50px;
    h3{
            color: var(--white-color);
    }
}

.episodes-c{
    grid-column: 1/13;
    padding-bottom: 100px;
   
}

.episodes-c{
    margin: 21px 0 0 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.spotify-c{
    margin-top: 2%;
}
iframe{
    width: 100%;
    height: 232px;
    border: none;
}
.spotify{
    width: 93vw;
    max-width: 584px;
    padding-right: .5em;

}

.second-skew{
    grid-column: 1/13;
    background-color: var(--white-color);
    width: 100%;
    height: 10vw;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
   
}